 body{
            background-color: rgb(65, 154, 228);
        }h1{
    background: #dbebb2;
     color: rgb(23,6,78);
        }
        p{
            background-color: royalblue;
        }
        /* 8:45 */