body{
    border: 2px solid;
}
#box1{
    border: 5px solid;

    height: 200px;
    width: 400px;
    background-color: antiquewhite;
margin-top: 10px;
margin-left: 50px;
padding: 10px;
}
#box2{
    border: 5px solid;

    height: 200px;
    width: 400px;
    background-color: rgb(224, 162, 80);
    padding: 12px;
}